body {
 background-color: aqua;
 height:auto;
 width:100%;
 text-align: center;
}
header {
 margin: 50px 0 50px 0; 
 font-size: 30px;
 font-family: 'Times New Roman', Times, serif;
}

#big-square {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  z-index: 4;
}

#small-square {
 width: 40px;
 height: 20px;
 background-color: rgb(149, 21, 117);
 bottom: 0px;
 position: absolute;
} 

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

body div .buttons {
 display: grid;
 flex-direction: column;
}

.btn1, .btn2, .btn3, .btn4 {
 margin-top: 20px;
 border-radius: 50px;
 size: 100px;
 background-color: white;
 padding: 20px;
 border-width: 0px;
 box-shadow: 2px 2px red;
 cursor: pointer;

}

