body {
 text-align: center;
 background-image: url("https://as1.ftcdn.net/v2/jpg/03/01/04/44/1000_F_301044458_3LKOHOHjZMK67nHIVHzq6K1a6pNXjb2c.jpg");
 background-size: cover;
 color: azure;
}
header {
 margin: 50px 0 50px 0; 
 font-size: 30px;
 font-family: 'Times New Roman', Times, serif;
}

#big-square {
  background-color: rgb(230, 208, 248);
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  z-index: 4;
}

#small-square {
 width: 40px;
 height: 20px;
 background-color: rgb(149, 21, 117);
 bottom: 0px;
 position: absolute;
 z-index: 6;
} 

#shoot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgb(149, 21, 117);
  z-index: 2;
  left: 45%;
}

.container {
 position: fixed;
  z-index: 2;
  right: 50%;
}




.btn2 {
  grid-template-columns: 2fr;
}